body {
    /* in this linear gradien we used transitional image. */
    background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.2),
        rgba(0, 255, 0, 0.2),     
        rgba(0, 0, 255, 0.2)
    ),
    url(../images/backgroundI1.jpg);
}

h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* border content width, style and color */
.solid {
    border: 10px solid rgb(12, 7, 1);
    border-radius: 10px;
    /* first value set for  top, second right, third bottom and last left. */
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
}

.dashed {
    width: 50%;
    border: 10px dashed rgb(12, 7, 1);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 20px;
    /* it place contain to the center of the right and left side of page. */
    margin: auto;
}

.dotted {
    border: 10px dotted rgb(12, 7, 1);
    border-radius: 30px;
    padding: 10px;
    /* we used linear graient and by defualt in flow from top to bottom. */
    background-image: linear-gradient(black, purple);   
}

.double {
    border: 10px double rgb(12, 7, 1);
    border-radius: 40px;
    background-image: linear-gradient(to right,black, purple);

}

.groove {
    border: 10px groove rgb(12, 7, 1);
    border-radius: 50px;
    /* here we define where the linear gradient color to follow */
    background-image: linear-gradient(to top right,black, purple);

}

.ridge {
    border: 10px ridge rgb(12, 7, 1);
    border-radius: 60px;
}

.inset {
    border: 10px inset rgb(12, 7, 1);
    border-radius: 10px 50px;
}

.outset {
    border: 10px outset rgb(12, 7, 1);
    border-radius: 10px 20px 30px;

}
/* border content width, style and color */


/* we can use border individually in every corner. */
.singleBorderTop {
    border-top:10px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
}
/* we can use border individually in every corner. */

/* we can used multiple border style in single box. */
.combineBorder {
    text-align: center;
    /* to make circle we have to define width and height same.*/
    padding: 100px;
    width:500px;
    height:500px;
    border-top:10px solid black;
    border-left: 10px dashed black;
    border-bottom: 10px groove black;
    border-right: 10px double black;
    border-radius: 50%;
}
/* we can used multiple border style in single box. */
